<header class="p-grid  p-justify-between">

    <section class="p-col-align-stretch">
        <button class="p-col hidden-md hidden-lg hidden-xl" type="text" (click)="onhambrugerClick()" pButton cornerStyleClass="none"
            icon="pi pi-bars"></button>

        <div class="p-col brand">
            <!-- <img src="/assets/images/ngx-travel-logo.png" class="brand" alt="ngx-travel-logo"> -->
            <span class="title">{{title}}</span>
        </div>
    </section>

    <section class="p-col">
        <!-- <nav class="p-col hidden-xs hidden-sm hidden-md">
                    <a href="/flights" class="active">Flights</a>
                    <a href="/hotels">Hotels</a>
                    <a href="/cars">Cars</a>
                    <a href="/blog">Blog</a>
                    <p-dropdown styleClass="header-dropdown" placeholder="More"></p-dropdown>
        </nav>
        -->
        <nav id="profile" class="p-col p-col-align-end">
            <!-- <a href="#" class="hidden-sm">Trips</a> -->
            <img src="/assets/images/profile.png" class="circle-img" alt="Profile">

            <!-- <p-dropdown class="hidden-sm" placeholder="User"></p-dropdown> -->
        </nav>


    </section>




</header>